{% extends "adminhome.html" %} {% block content %}

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
<section class="contact section-padding">
  <div class="container">
    <center>
      <div class="col-lg-6 col-12">
        <h2 class="mb-4"><span> Restaurants</span></h2>
        <div class="accordion" id="accordionGeneral">
          <div class="accordion-item">
            <table width="100%">
              <th style="text-align: center">Id</th>
              <th style="text-align: center">Restaurantname</th>
              <th style="text-align: center">First Name</th>
              <th style="text-align: center">Last Name</th>
              <th style="text-align: center">Email</th>

              {% for restaurant in all_restaurants %}
              <tr>
                <td style="text-align: center">{{restaurant.id}}</td>
                <td style="text-align: center">
                  {{restaurant.restaurantname}}
                </td>
                <td style="text-align: center">{{restaurant.firstname}}</td>
                <td style="text-align: center">{{restaurant.lastname}}</td>
                <td style="text-align: center">{{restaurant.email}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </center>
  </div>
</section>

{% endblock %}
