{% extends "customerhome.html" %}

{% block content %}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<section class="faq section-padding">
    <div class="container">


        <h2>Please Add <span>Your Menu Here</span></h2>
        <div class="container" style="margin-top:50px;">
            {% if nomsg == 'nomsg' %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                    </li>
                    {% endfor %}
            </ul>
            {% endif %}
            {% endif %}
        </div>

        <div class="container" style="margin-top:50px;">
            {% if waiting_list %}
            <table width="100%">
                <tr>
                    <th style="text-align:center">Table Number</th>
                    <th style="text-align:center">Member Count</th>
                    <th style="text-align:center">Time For Availability</th>
                    <th style="text-align:center">User Email</th>
                </tr>
                {% for item in waiting_list %}
                <tr>
                    <td style="text-align:center">{{item.table_number}}</td>
                    <td style="text-align:center">{{item.count}}</td>
                    <td style="text-align:center"><span class="time">{{item.get_time}}</span> Min</td>
                    <td style="text-align:center">{{item.user_email}}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>

        <h5>Click on <a href="{% url 'menu' %}"><span>Menu</span></a></h5>
        {% if data %}
        <div class="accordion" id="accordionGeneral">
            {% for x in data %}
            <div class="accordion-item">
                <h6 class="accordion-header" id="{{x.foodname}}">
                    {{x.foodname}} <span style="float:right;">
                        <input type="text" name="dishid" value="{{x.id}}" hidden>
                        {{x.foodprice}} <b>$</b>
                        <a href="{% url 'delete' x.id %}">X</a>
                    </span>
                </h6>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>


{% endblock %}